<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
<display-name>j2eeTest</display-name>
<servlet>
	<servlet-name>HelloServlet</servlet-name>
	<servlet-class>com.jsp.serverlet.HelloServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>LoginServlet</servlet-name>
	<servlet-class>com.jsp.serverlet.LoginServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>DoGetServlet</servlet-name>
	<servlet-class>com.jsp.serverlet.DoGetServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>DoPostServlet</servlet-name>
	<servlet-class>com.jsp.serverlet.DoPostServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>DoLoginServlet</servlet-name>
	<servlet-class>com.jsp.serverlet.DoLoginServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>CheckLoginServlet</servlet-name>
	<servlet-class>com.jsp.serverlet.CheckLoginServlet</servlet-class>
</servlet>
<filter>
	<filter-name>FilterOne</filter-name>
	<filter-class>com.jsp.filter.FilterOne</filter-class>
	<init-param>
		<param-name>param</param-name>
		<param-value>param value hello world</param-value>
	</init-param>
</filter>
<filter>
	<filter-name>FilterTwo</filter-name>
	<filter-class>com.jsp.filter.FilterTwo</filter-class>
</filter>
<filter>
	<filter-name>FilterCoding</filter-name>
	<filter-class>com.jsp.filter.FilterCoding</filter-class>
</filter>




<servlet-mapping>
	<servlet-name>HelloServlet</servlet-name>
	<url-pattern>/HelloServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>LoginServlet</servlet-name>
	<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>DoGetServlet</servlet-name>
	<url-pattern>/DoGetServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>DoPostServlet</servlet-name>
	<url-pattern>/DoPostServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>DoLoginServlet</servlet-name>
	<url-pattern>/DoLoginServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>CheckLoginServlet</servlet-name>
	<url-pattern>/CheckLoginServlet</url-pattern>
</servlet-mapping>
<filter-mapping>
	<filter-name>FilterOne</filter-name>
	<url-pattern>/*</url-pattern>   <!-- 设置过滤的url，这里对所有的url进行过滤 -->
</filter-mapping>
<filter-mapping>
	<filter-name>FilterTwo</filter-name>
	<url-pattern>/*</url-pattern>   
</filter-mapping>
<filter-mapping>
	<filter-name>FilterCoding</filter-name>
	<url-pattern>/*</url-pattern>   
</filter-mapping>
</web-app>




